{% extends "layout.html" %}

{% block body %}
  <table class="table">
  <thead class="thead-light">  
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Begins</th>
      <th scope="col">Ends</th>
      <th scope="col">
        <form method="GET" action="{{ url_for('hours_form', staff_id=staff_id) }}">
            <input type="submit" value="Add" class="btn btn-outline-secondary"/>
        </form>    
      </th>
    </tr>
  </thead>
  <tbody>
      {% for hours in hours %}
    <tr>
      <td>{{ hours.date }}</td>
      <td>{{ hours.begins }}</td>
      <td>{{ hours.ends }}</td>

      <td>
        <form method="POST" action="{{ url_for('hour_delete', hour_id=hours.id) }}">
            <input type="submit" value="Delete" class="btn btn-outline-secondary"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
